/*Mohammad Dwikat*/
.background1{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Humanoid_Robot_%281%29_ITB_2017.JPG/220px-Humanoid_Robot_%281%29_ITB_2017.JPG");
    background-size: cover;
    
    background-position: top top;
    background-repeat: no-repeat;
    padding: 30px;
    height: 100%; 


}

#home-page{

margin-top:20% ;

}
#button1{
    color: white;
    background-color:  #007bff;
}
#button1:hover{

    color:  #007bff;
    background-color: white;


}


#button2{
    color:  #007bff;
    background-color: white;
}
#button2:hover{

    color: white;
    background-color:  #007bff;


}