body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100px;
    padding: 0 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 60px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.btn-primary {
    background-color: #005eff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    margin-left: 15px;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0041c2;
}

.dropdown-menu {
    display: none;
    margin-top: 0;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    color: #333;
    padding: 8px 20px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    transition: color 0.3s ease;
}

.dropdown-item:hover {
    background-color: transparent;
    color: #007bff;
}

.nav-link.text-dark {
    color: #000;
    transition: color 0.3s ease; 
}

.nav-link.text-dark:hover {
    color: #007bff !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
